@import url('bootstrap/dist/css/bootstrap.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-header {
  background-color: #1A1A1C;
  padding: 10px;
}
.top-header p {
  margin-bottom: 0;
  color: #fff;
}
